body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.dropdown.dropdown-split-right a {
    padding-left: 3px;
}

.nav.navbar-nav li.active > a {
    font-weight: bold;
    outline: none;
}

.nav.navbar-nav li.dropdown-right.active {
    background-color: #080808;
}

.nav.navbar-nav li.dropdown-right > a:nth-child(1) {
    padding-right: 5px !important;
    display: inline-block;
    margin-right: -2px;
}

.nav.navbar-nav li.dropdown-right > a:nth-child(2) {
    padding-left: 5px !important;
    display: inline-block;
    margin-left: -2px;
}

.navbar-brand {
    padding: 7px 15px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.nav-tabs {
    margin-bottom: 15px;
}

.popover {
    color: #000
}

#hero-creator .rarities-container {
    font-size: 25px;
    color: #FFB404;
}

.heroes-table .event-skill, .list-group-item .event-skill {
    margin: 0 2px;
}

span.rarity-star {
    color: #FFB404;
    display: inline;
}

.calculated-heroes-panel .heroes-list {
    border-right: 1px solid #ddd;
}

.calculated-heroes-panel .list-group-item {
    padding: 5px 8px !important;
}

.calculated-heroes-panel .stats-list .list-group-item .badge {
    background-color: #31708f;
    font-weight: normal;
}

.calculated-heroes-panel .panel-body {
    padding-bottom: 0;
}

.calculated-heroes-panel .heroes-list ul, .calculated-heroes-panel .stats-list ul {
    margin-bottom: -1px;
}

#team .hero-editable-stat {
    cursor: pointer;
}

#decks > .container > .row {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#contact fieldset:first-child {
    margin-bottom: 4em;
}

#limitation-warning {
    margin-top: 18px;
    margin-bottom: 0
}

#limitation-warning .panel-heading span {
    font-weight: bold;
}

#limitation-warning .panel-body {
    margin-bottom: 0;
}
