body {
	padding-top: 70px;
	padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
	body {
		padding-top: 140px;
	}
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.nav-tabs {
	margin-bottom: 15px;
}

#hero-creator .rarities-container {
	font-size: 25px;
	color: #FFB404;
}

.heroes-table .event-skill, .list-group-item .event-skill {
	margin: 0 2px;
}

span.rarity-star {
    color: #FFB404;
}

.calculated-heroes-panel .heroes-list {
	border-right: 1px solid #ddd;
}

.calculated-heroes-panel .list-group-item {
	padding: 5px 8px !important;
}

.calculated-heroes-panel .list-group-item .badge {
	background-color: #31708f;
	font-weight: normal;
}

.calculated-heroes-panel .panel-body {
	padding-bottom: 0;
}

.calculated-heroes-panel .heroes-list ul, .calculated-heroes-panel .stats-list ul {
	margin-bottom: -1px;
}
