body {
	padding-top: 70px;
	padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
	body {
		padding-top: 140px;
	}
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.nav-tabs {
	margin-bottom: 15px;
}

#hero-creator .rarities-container {
	font-size: 25px;
	color: #FFB404;
}

.heroes-table .event-skill {
	margin: 0 2px;
}

span.rarity-star {
    color: #FFB404;
}