<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Legendary: Game of Heroes deck suggester</title>
    <meta name="description" content="Legendary: Game of Heroes deck suggester">
    <meta name="author" content="Giero">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Legendary: Game of Heroes deck suggester</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="page-nav" class="nav navbar-nav pull-right">
                <li role="presentation"><a href="#team">Your team</a></li>
                <li role="presentation"><a href="#decks">Suggested decks</a></li>
                <li role="presentation" class="active"><a href="#heroes">Heroes list</a></li>
                <li role="presentation"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
    <div class="row">
        <div class="tab-content" id="page-content">
            <div class="tab-pane fade " role="tabpanel" id="team" aria-labelledby="team-tab"></div>
            <div class="tab-pane fade" role="tabpanel" id="decks" aria-labelledby="decks-tab"></div>
            <div class="tab-pane fade active in" role="tabpanel" id="heroes" aria-labelledby="heroes-tab">

                <div id="team-navbar">
                    <ul id="team-nav" class="nav nav-tabs " role="tablist">
                        <li role="presentation" class="active"><a href="#team-fire-affinity">Fire</a></li>
                        <li role="presentation"><a href="#team-water-affinity">Water</a></li>
                        <li role="presentation"><a href="#team-earth-affinity">Earth</a></li>
                        <li role="presentation"><a href="#team-light-affinity">Light</a></li>
                        <li role="presentation"><a href="#team-dark-affinity">Dark</a></li>

                        <li class="pull-right">
                            <button id="add-to-list" class="btn btn-primary">Add missing hero</button>
                        </li>
                    </ul>


                </div>

                <div class="tab-content" id="team-content">
                    <div class="tab-pane fade active in" role="tabpanel" id="team-fire-affinity" aria-labelledby="team-fire-affinity-tab">
                        <hero-list affinity="Fire"></hero-list>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="team-water-affinity" aria-labelledby="team-water-affinity-tab">
                        <hero-list affinity="Water"></hero-list>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="team-earth-affinity" aria-labelledby="team-earth-affinity-tab">
                        <hero-list affinity="Earth"></hero-list>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="team-light-affinity" aria-labelledby="team-light-affinity-tab">
                        <hero-list affinity="Light"></hero-list>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="team-dark-affinity" aria-labelledby="team-dark-affinity-tab">
                        <hero-list affinity="Dark"></hero-list>
                    </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="contact" aria-labelledby="contact-tab"></div>
        </div>
    </div>
</div>

<template id="hero-list">
    <section>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">Hero name</label>
                <input v-model="searchKey" class="form-control" id="search-element" />
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Recovery</th>
                <th>Health</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="hero in filteredHeroes">

                <td>{{ hero.name }} <span style="color: #FFB404;" class="glyphicon glyphicon-star" aria-hidden="true" v-for="n in hero.rarity "></span></td>
                <td>{{ hero.attack }}</td>
                <td>{{ hero.recovery }}</td>
                <td>{{ hero.health }}</td>
            </tr>
            </tbody>
        </table>
    </section>
</template>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rating-input/0.4.0/bootstrap-rating-input.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>

<script src="js/hero.js"></script>
<script src="js/team.js"></script>
<script src="js/main.js"></script>
</body>
</html>

