<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Legendary: Game of Heroes deck suggester</title>
    <meta name="description" content="Legendary: Game of Heroes deck suggester">
    <meta name="author" content="Giero">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Legendary: Game of Heroes deck suggester</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="page-nav" class="nav navbar-nav pull-right">
                <li role="presentation" class="active"><a href="#team">Your team</a></li>
                <li role="presentation"><a href="#decks">Suggested decks</a></li>
                <li role="presentation"><a href="#heroes">List of heroes</a></li>
                <li role="presentation"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="app" class="container" role="main">
    <div class="row">
        <div class="tab-content" id="page-content">
            <div class="tab-pane fade active in" role="tabpanel" id="team">
                <team-adding-form></team-adding-form>
                <team-heroes-list></team-heroes-list>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="decks">
                <computed-decks></computed-decks>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="heroes">
                <all-heroes-list></all-heroes-list>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="contact"></div>
        </div>
    </div>
</div>

<template id="heroes-list">
    <section>
        <div>
            <ul :id="listId" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a :href="'#' + listId + '-fire'">Fire ({{ counter.fire }})</a></li>
                <li role="presentation"><a :href="'#' + listId + '-water'">Water ({{ counter.water }})</a></li>
                <li role="presentation"><a :href="'#' + listId + '-earth'">Earth ({{ counter.earth }})</a></li>
                <li role="presentation"><a :href="'#' + listId + '-light'">Light ({{ counter.light }})</a></li>
                <li role="presentation"><a :href="'#' + listId + '-dark'">Dark ({{ counter.dark }})</a></li>
                <li role="presentation"><a :href="'#' + listId + '-all'">All ({{ counter.all }})</a></li>
            </ul>
        </div>

        <div class="tab-content" :id="listId + '-content'">
            <div class="tab-pane fade active in" role="tabpanel" :id="listId + '-fire'">
                <heroes-table affinity="Fire"></heroes-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" :id="listId + '-water'">
                <heroes-table affinity="Water"></heroes-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" :id="listId + '-earth'">
                <heroes-table affinity="Earth"></heroes-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" :id="listId + '-light'">
                <heroes-table affinity="Light"></heroes-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" :id="listId + '-dark'">
                <heroes-table affinity="Dark"></heroes-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" :id="listId + '-all'">
                <heroes-table></heroes-table>
            </div>
        </div>
    </section>
</template>

<template id="heroes-table">
    <section>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">Hero name</label>
                <input v-model="searchKey" class="form-control" id="search-element" />
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Recovery</th>
                <th>Health</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="hero in filteredHeroes">
                <td v-html="$options.filters.staredName(hero.name, hero.rarity)"></td>
                <td>{{ hero.attack }}</td>
                <td>{{ hero.recovery }}</td>
                <td>{{ hero.health }}</td>
                <td><span class="glyphicon glyphicon-remove text-danger" style="cursor: pointer;" :data-hero-id="hero.id" @click="removeHeroFromList"></span></td>
            </tr>
            </tbody>
        </table>
    </section>
</template>

<template id="team-adding-form">
    <div class="jumbotron">
        <form id="team-adding" role="form" method="post" class="form-horizontal" @submit="addHeroToTeam">
            <fieldset>
                <legend>Add hero to team</legend>
                <div class='form-group'>
                    <div class='col-sm-12'>
                        <select class="form-control selectpicker" id="team-hero-id" name="id" required title="Hero name" data-live-search="true">
                            <optgroup v-for="affinity in affinities" :label="affinity">
                                <option v-for="hero in heroes" v-if="hero.affinity == affinity" :value="hero.id"
                                        :data-content="hero.name|staredName(hero.rarity)"
                                >{{ hero.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="team-hero-attack" name="attack" required placeholder="Attack"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="team-hero-recovery" name="recovery" required placeholder="Recovery"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="team-hero-health" name="health" required placeholder="Health"/>
                    </div>
                </div>
                <button id="add-to-team" class="btn btn-primary">Add to team</button>
                <button id="add-random-to-team" v-on:click="addRandomHeroToTeam" class="btn btn-primary" title="Press Shift to add 10 heroes at once">Add random to team</button>
            </fieldset>
        </form>
    </div>
</template>

<template id="computed-decks">
    <section>
        <button id="calculate-decks" class="btn btn-primary" v-on:click="calculateDecks">Calculate decks<br /><small>(possible {{ possibilities.format(0, 3) }} decks in {{ (possibilities*5).format(0, 3) }} configurations (for every affinity))</small></button>
        <button id="stop-calculations" style="display: none" class="btn btn-danger" v-on:click="stopCalculations">Stop calculations</button>
        <hr />
        <div v-if="progress > -1" class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" :style="'width: ' + progress + '%'">
                {{ progress }}%
            </div>
        </div>
        <fieldset v-for="(deck, affinity) in bestDecks">
            <legend>Against: {{ affinity }}</legend>
            <p>attack score: {{ deck.value.format(0, 3) }}</p>
            <ul>
                <li v-for="(hero, key) in deck.heroes">
                            <span v-bind:class="key === 0 ? 'text-danger': ''">
                                <span v-html="$options.filters.staredName(hero.name, hero.rarity)"></span>
                                ({{ hero.affinity }} {{ hero.type }} {{ hero.species }} :: {{ hero.attack }}/{{ hero.recovery }}/{{ hero.health }})
                            </span>
                    <span v-if="key === 0"
                          class="glyphicon glyphicon-info-sign"
                          data-toggle="popover"
                          data-trigger="hover"
                          :title="hero.leaderAbility.name"
                          :data-content="hero.leaderAbility.description"></span>
                </li>
            </ul>
        </fieldset>
    </section>
</template>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rating-input/0.4.0/bootstrap-rating-input.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>

<script src="js/hero.js"></script>
<script src="js/team.js"></script>
<script src="js/deck.js"></script>
<script src="js/deck_generator.js"></script>
<script src="js/deck_worker.js"></script>
<script src="js/main.js"></script>
</body>
</html>
